{% extends email_template %}
{% load i18n %}

{% block subject %}
  {%  translate "¡Gracias por unirte! " %}
{% endblock %}

{% block html_content %}
<p>{{ greetings }}</p>
{% blocktranslate %}
<p>
  Te uniste a 
  <a style="font-weight: bold" href="{{ dashboard_link }}?{{ params_login }}"
    >Claudialízate</a
  >
  por invitación de otro usuario.
</p>
{% endblocktranslate %}


<p>{% translate "Te damos la bienvenida a esta gran aventura.&nbsp;" %}</p>

<p>
  {% translate "Puedes ingresar a Claudialízate con el siguiente botón :" %}
</p>

<p
  style="
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  "
>
  <a
    href="{{ dashboard_link }}?{{ params_login }}"
    style="
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      padding: 14px;
      background-color: #781136;
      border-radius: 5px;
      font-size: 1.25em;
    "
  >
    {% translate "Entrar a Claudialízate" %}
  </a>
</p>



<br />

{% if is_new %}
<p>
  {%  translate "Si no solicitaste que te inscribieran en Claudializate, puedes anular tu inscripción haciendo clic aquí&nbsp;:" %}
</p>
<p style="font-family: Arial, Helvetica, sans-serif; text-align: center">
  <a
    href="{{ delete_link }}"
    style="
      display: inline-block;
      text-decoration: none;
      color: white;
      font-weight: bold;
      padding: 14px;
      background-color: #4b2c92;
      border-radius: 5px;
      font-size: 1.25em;
    "
  >
    {% translate "Cancelar inscripción" %}
  </a>
</p>
<p>
  {% translate "Recibirás un código para confirmar tu desinscripción." %}
</p>
{% else %}
  {% blocktranslate %}
<p>
  Ya tenías una cuenta en
  <a style="font-weight: bold" href="{{ dashboard_link }}?{{ merge_login }}"
    >Claudialízate </a
  >
  desde el {{ subscription_date }}. Por seguridad no actualizamos tu información.
</p>
  {% endblocktranslate %}
<p>
  {% translate "Puedes verificar y actualizar tus datos en todo momento, en la sección Configuración de Claudialízate." %}
</p>

{% endif %}
<br />
{% blocktranslate %}
  <p>Saludos,<br />
  <br />
  El equipo de Claudialízate</p>
{% endblocktranslate %}
{% endblock %}
