{% extends "front/layout.html" %}
{% load crispy_forms_tags %}
{% laod i18n %}
{% block title %}Lien incorrect{% endblock %}

{% block main %}
<div class="col-responsive">
  <h2>{% translate "Votre lien est incorrect ou expiré" %}</h2>
  <p>
    {% blocktranslate %}<strong>Avez-vous copié le lien ?</strong> Il est possible que n'en ayez copié qu'une partie.{% endblocktranslate %}
  </p>
  <p>
    {% blocktranslate %}<strong>Avez-vous suivi un lien présent dans un email de plus de 15 jours ?</strong> Il est probable que le lien soit expiré.{% endblocktranslate %}
  </p>
</div>
{% endblock %}
