{% extends email_template %}
{% load i18n %}

{% block header %}{% endblock %}

{% block subject %}
  {% translate "Votre code de connexion" %} : {{ code }}
{% endblock %}

{% block html_content %}
<p>{% translate "Bonjour" %} {{ name }} !</p>
<p>{% translate "Vous nous avez demandé de vous connecter à Action Populaire" %}.</p>
<p>{% translate "C'est très simple ! Entrez le code suivant dans la page de connexion où vous étiez il y a un instant" %} :</p>

<div style="text-align: center; background-color: #eeeeee; padding: 16px 0; font-size: 30px; font-weight: bold;">
  {{ code }}
</div>

{% blocktransalte _expiry_time=expiry_time %}<p>Remarque : ce code est valable jusqu'à {{ _expiry_time }} et ne peut être utilisé qu'une seule fois.</p>
<p>Amitiés<br>L'équipe d'Action Populaire</p>{% endblocktranslate %}
{% endblock %}

{% block html_footer %}
{% block text_footer %}
{% translate "Vous n'êtes pas à l'origine de cette demande de connexion ? Ignorez simplement ce message" %}.
{% endblock %}
{% endblock %}
