{% extends email_template %}
{% load i18n %}

{% block header %}{% endblock %}

{% block subject %}
  {% translate "Tu código de conexión " %} : {{ code }}
{% endblock %}

{% block html_content %}
<p>{% translate "Bonjour" %} {{ name }} !</p>
<p>{% translate "Vous nous avez demandé de vous connecter à Action Populaire" %}.</p>

<div style="text-align: center; background-color: #eeeeee; padding: 16px 0; font-size: 30px; font-weight: bold;">
  {{ code }}
</div>

<p>Ojo: este código expira a las {{expiry_time}}s y solo puede usarse una vez.</p>
{% blocktranslate %}<p>Amitiés<br>L'équipe d'Action Populaire</p>{% endblocktranslate %}

{% endblock %}

{% block html_footer %}
{% block text_footer %}
{% translate "Vous n'êtes pas à l'origine de cette demande de connexion ? Ignorez simplement ce message" %}.
{% endblock %}
{% endblock %}
