{% load static i18n %}
<style>
  #app_loader {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    overflow: hidden;
    transition: opacity 200ms ease-in-out;
    z-index: 9999;
    will-change: opacity;
    background-color: white;
    pointer-events: none;
  }
</style>
<div id="app_loader">
  <!-- Agrega la etiqueta de imagen con una ID específica -->

  <img id="loaderImage" width="500" height="200" />
  <script>
    // debugger;
    // Accede a la URL del archivo de imagen estático usando Django
    var loaderImage = document.getElementById("loaderImage");
    var imageSrc = "{% static 'front/assets/Loader4.gif' %}";
    loaderImage.src = imageSrc;
  </script>
</div>
