{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Mes adresses emails" %}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;REGRESAR AL INICIO
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="CONTACT" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html" with tab_code="CONTACT" %}
      <p>Aquí puedes agregar un email a tu cuenta.</p>
      <ul>
        <li>
          Podrás utilizar ese nuevo email para conectarte a tu cuenta.
        </li>
        <li>
          Si el email ya está registrado, se te propondrá fusionar ambas cuentas
        </li>
      </ul>
      <p>Te enviaremos un email de verificación para que confirmes que eres dueñ@ de esa dirección de email.</p>
      <div>
        {% crispy form %}
      </div>
    </div>
  </div>
{% endblock %}
