{% extends "front/layout.html" %}

{% block main %}

  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;REGRESAR AL INICIO
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="PERSONAL_DATA" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html" with tab_code="PERSONAL_DATA" %}
      <form action="" method="post">{% csrf_token %}
        <div class="alert alert-danger">
          <p>¿Confirmas que deseas eliminar tu cuenta <strong>{{ object.email }}</strong> ?</p>

          <p>Se perderá toda tu actividad en la plataforma Claudialízate, incluyendo tu participación en acciones y grupos.</p>

          <p>No se eliminarán los grupos y acciones que gestionas, pero perderás la autorización para gestionarlos.</p>

          <p><strong>Esta acción es irreversible</strong></p>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" class="checkboxinput" required>
            Entiendo que esta acción es irreversible y quiero eliminar mi cuenta <strong>{{ object.email }}</strong>.
          </label>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4 margintop">
            <input
            type="submit"
            class="btn btn-primary btn-lg btn-block" value="Eliminar mi cuenta"/>
          </div>
          <div class="col-xs-12 col-md-4 margintop">
            {#<a class="btn btn-default btn-lg btn-block" href="{% url 'message_preferences' %}">Retour à mes préférences</a>#}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
