{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;Regresar al inicio
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="CONTACT" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html" with tab_code="CONTACT" %}
      <div>
        <fieldset>
          <legend>Direcciones email</legend>
        </fieldset>
        <div class="row">
        {% if emails|length > 1 %}
          <div class="table-responsive padbottommore">
            <table class="table">
            <tbody>
            {% for email in emails %}
              <tr {% if email.address == person.email %} class="active" {% endif %}>
                <td><strong class="small">{{ email.address }}</strong></td>
                <td>
                  {% if email.address == person.email %}
                    <span class="hidden-xs hidden-sm label label-info">
                      Email principal de contacto
                    </span>
                    <span class="hidden-md hidden-lg label label-info">
                      Email principal
                    </span>
                  {% elif not email.bounced %}
                    <a class="hidden-xs hidden-sm btn btn-sm btn-default " style="color: white !important;" href="{% url "change_primary_mail" email.pk %}">
                      Convertir en contacto primario
                    </a>
                    <a class="hidden-md hidden-lg btn btn-sm btn-default "  style="color: white !important;" href="{% url "change_primary_mail" email.pk %}">
                      Usar este email
                    </a>
                  {% elif email.bounced %}
                    <p class="text-danger small">
                      Este email no puede usarse porque funcionó mal varias veces (correo saturado u otro problema para recibir emails)
                    </p><p class="small">
                      <a href="{% url "change_primary_mail" email.pk %}">Resolví el problema, usar este email de nuevo</a>
                    </p>
                  {% endif %}
                </td>
                <td>
                  {% if can_delete %}
                    <a class="btn btn-sm btn-primary" href="{% url "delete_email" email.pk %}">
                      Quitar
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
              <tr>
                <td class="hidden-xs hidden-sm"></td>
                <td class="hidden-xs hidden-sm"></td>
                <td class="text-right" colspan="3">
                  <a class="btn btn-sm btn-default btn-block"  style="color: white !important;" href="{% url "manage_account" %}">Agregar o cambiar dirección email</a>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        {% else %}
          <p class="col-xs-12 col-md-8">{{ person.email }}</p>
          <p class="col-xs-12 col-md-4"><a class="btn btn-sm btn-default" style="color: white !important;" href="{% url "manage_account" %}">Agregar o cambiar dirección email</a></p>
        {% endif %}
        </div>
        <fieldset>
          <legend>Emails y notificaciones Claudialízate</legend>
          <a href="{% url "list_activities.notification_settings" %}" class="btn btn-sm btn-info">
            Configurar mis emails y notificaciones
          </a>
        </fieldset>
        {% crispy form %}
      </div>
    </div>
    <script>
      const id_contact_phone = document.getElementById('id_contact_phone');
      const intlTel_idp = window.intlTelInput(id_contact_phone, {
        nationalMode: false,
        formatOnDisplay: true,
        preferredCountries: ["mx", "es", "us", "ca", "fr", "de"],
        initialCountry: "mx",
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
      });
      if(!id_contact_phone.value){
        const dialCode = `+${intlTel_idp.getSelectedCountryData().dialCode} `;
        intlTel_idp.setNumber(dialCode);
      }
      id_contact_phone.addEventListener("countrychange", function() {
        const phoneValue = id_contact_phone.value;
        if (intlTel_idp.getSelectedCountryData()) {
          const dialCode = `+${intlTel_idp.getSelectedCountryData().dialCode} `;
          intlTel_idp.setNumber(dialCode);
        }
      });
    </script>
  </div>
{% endblock %}
