<li role="presentation" class="{% if tab_code == "IDENTITY" %} active {% endif %}">
  <a href="{% url "personal_information" %}">Tus datos</a>
</li>
<li role="presentation" class="{% if tab_code == "CONTACT" %} active {% endif %}">
  <a href="{% url "contact" %}">Medios de contacto</a>
</li>
<li role="presentation" class="{% if tab_code == "SKILLS" %} active {% endif %}">
  <a href="{% url "skills" %}">Perfil e Intereses</a>
</li>
<li role="presentation" class="{% if tab_code == "ACT" %} active {% endif %}">
  <a href="{% url "volunteer" %}">Activarse de lleno</a>
</li>
<li role="presentation"
    class="{% if tab_code == "PERSONAL_DATA" %} active {% endif %}">
  <a href="{% url "personal_data" %}">Mi Cuenta</a>
</li>
