{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Valider mon numéro de téléphone" %}{% endblock %}

{% block main %}

  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;REGRESAR AL INICIO
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" with tab_code="CONTACT" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html"  with tab_code="CONTACT" %}
      <h3 style="color: white !important;">Validar mi número de teléfono</h3>
      <div>
        <div class="intro">
          <p>Para poder realizar ciertas operaciones, es necesario confirmar tu número de teléfono celular.
          </p>
          <p><strong>La validación del celular te permitirá acceder a todas las funciones de Claudialízate.</strong></p>
        </div>
        <div class="form-wrap">
          {% crispy form %}
        </div>
      </div>
    </div>
    <script>
      const id_contact_phone = document.getElementById('id_contact_phone');
      const intlTel_idp = window.intlTelInput(id_contact_phone, {
        nationalMode: false,
        formatOnDisplay: true,
        preferredCountries: ["mx", "es", "us", "ca"],
        initialCountry: "mx",
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
      });
      if(!id_contact_phone.value){
        const dialCode = `+${intlTel_idp.getSelectedCountryData().dialCode} `;
        intlTel_idp.setNumber(dialCode);
      }
      id_contact_phone.addEventListener("countrychange", function() {
        const phoneValue = id_contact_phone.value;
        if (intlTel_idp.getSelectedCountryData()) {
          const dialCode = `+${intlTel_idp.getSelectedCountryData().dialCode} `;
          intlTel_idp.setNumber(dialCode);
        }
      });
    </script>
  </div>
{% endblock %}


