{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Engagement" %}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;REGRESAR AL INICIO
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% block navbar %} {% include "people/profile/profile_nav.html" %} {% endblock %}
    <div class="col-xs-12 col-md-9 margintopmore">
      {% include "people/profile/profile_title.html" %}
      <div class="row">
        <div class="intro col-sm-8">
          <p> Indica que tipo de acciones puedes realizar en tu zona. Así podremos contactarte para acciones específicas en función de lo que nos indiques.
          </p>
        </div>
        <div class="col-sm-4">
          <div class="alert alert-info">
            <p>
              <span class="fa fa-info-circle" aria-hidden="true"></span>
              Te invitamos a aprovechar tus habilidades y a realizar tus propias acciones, así como a participar en acciones colectivas propuestas por Claudialízate.
            </p>
          </div>
        </div>
      </div>
      <div class="form-wrap">
        {% crispy form %}
      </div>
    </div>
  </div>
{% endblock %}
