{% extends "front/layout.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Me désinscrire des emails de la France insoumise" %}{% endblock %}

{% block main %}
  <div class="row">
    <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
      <div class="pull-left">
        <a class="menu-back-link" href="{% url "list_events" %}">
          <i class="fa fa-arrow-left"></i>&emsp;REGRESAR AL INICIO
        </a>
      </div>
      <div class="pull-right">
      </div>
      <div class="clearfix"></div>
      <hr />
    </div>
    {% if email %}
      {% block navbar %}
        {% include "people/profile/profile_nav.html" with tab_code="CONTACT" %}
      {% endblock %}
      <div class="col-xs-12 col-md-9 margintopmore">
        <h2 class="headline">Desinscripción</h2>
        <div class="row">
          <div class="col-xs-12 intro">
            Para confirmar que ya no quieres recibir nuestros emails informativos en tu email
            <strong>{{ email }}</strong>, haz clic en el botón.
          </div>
          <form method="post" action="" class="col-xs-12 col-md-4">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ email }}" />
            <button type="submit" class="btn btn-primary btn-block margintopmore">Me desinscribo</button>
          </form>
        </div>
      </div>
    {% else %}
      <div class="col-responsive">
        <h2 class="headline">Désabonnement</h2>
        <div class="row">
          <div class="col-xs-12 intro">
            <p>Puede darse de baja de los correos electrónicos de Claudializate indicando tu correo electrónico a continuación
            </p>
          </div>
          <div class="col-xs-12">
            {% crispy form %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
