{% load i18n %}

{% if event.visibility == 'A' %}
  <div class="alert alert-danger">{% translate "Cet événement n'est visible que par les administrateurices" %}.</div>
{% endif %}
{% if event.visibility == 'O' %}
  <div class="alert alert-danger">
    {% translate "Cet événement n'est visible que par ses organisateur⋅ice⋅s." %}
    {% if is_organizer %}
      {% url 'manage_event' event.pk as url_manage_event %}
      {% blocktrans %}Vous devez <a href="{{ url_manage_event }}#section-legal">remplir les formulaires légaux</a> avant qu'il puisse être approuvé. Si ceux-ci sont bien remplis, la validation prend deux à trois jours ouvrés.{% endblocktrans %}
    {% endif %}
  </div>
{% endif %}
