{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Modificar la ubicación del grupo{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "view_group_settings_location" supportgroup.pk %}">
        <i class="fa fa-arrow-left"></i>&emsp; Volver a la página del grupo
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12 col-md-2 margintopmore"></div>
  <div class="col-xs-12 col-md-8 tab-content">
    <h2 class="headline">
      {{ supportgroup.name }}
    </h2>
    <hr />
    <h4 class="padbottom">Modificar la ubicación del grupo</h4>
    <p>
      Si tu grupo no aparece en el mapa o aparece en un lugar incorrecto, puedes ubicarlo manualmente arrastrando el punto en el mapa o eliminarlo en ‘Borrar todos los elementos’ para indicar nuevas coordenadas.
    </p>
    <p>
      Podrás reactivar la geolocalización automática regresando a esta página.
    </p>
    <p>
      <strong>Una vez guardados los cambios, la nueva ubicación puede tardar hasta 5 minutos en aparecer en el mapa.</strong>
    </p>
    <div class="row">
      <div class="col-sm-12 form-group">
        {% crispy form %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
