{% extends "front/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Transfert de membres de «&nbsp;{{ supportgroup.name }}&nbsp;»{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "view_group_settings_members" supportgroup.pk %}">
        <i class="fa fa-arrow-left"></i>&emsp; Volver a la página del grupo
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12 col-md-2 margintopmore"></div>
  <div class="col-xs-12 col-md-8 tab-content">
    <h2 class="headline">
      {{ supportgroup.name }}
    </h2>
    <hr />
    <h4 class="padbottom">Transferir participantes a otro grupo</h4>
    <p>
      Desde aquí puede transferir a participantes de <strong>{{ supportgroup.name }}</strong> hacia otro grupo.
    </p>
    <p>
      Para poder continuar, un participante de tu grupo debe crear un nuevo grupo. Una vez creado, puedes seleccionarlo aquí e indicar qué participantes deben ser transferidos a ese grupo.
    </p>
    <p>
      <a href="https://info.preprod.redmexa.com/nombre-ideal-division/">Saber más sobre la división de grupos &rarr;</a>
    </p>
    <div class="padtop padbottom">
      {% crispy form %}
    </div>
  </div>
</div>
{% endblock %}
