{% extends "front/layout.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Modifier la localisation de mon événement" %}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "list_events" %}">
        <i class="fa fa-arrow-left"></i>&emsp;{% translate "Retour à l'accueil" %}
      </a>
    </div>
    <div class="pull-right">
      <a
        class="btn btn-sm btn-default" style="color:white !important"
        href="{% url "manage_event" event.pk %}">
        <i class="fa fa-cog"></i> {% translate "Gestión de la acción" %}
      </a>
      <a
        class="btn btn-sm btn-default" style="color:white !important"
        href="{% url "view_event" event.pk %}">
        {% translate "Página de la acción" %}
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12">
    <h2 class="headline">
      {{ event.name }}
    </h2>
    <hr />
    <h3>{% translate "Modificar la ubicación" %}</h3>
    <div class="padtop padbottom form-group">
      <p>
        Si tu acción no aparece en el mapa o aparece en un lugar incorrecto, puedes ubicarla manualmente arrastrando el punto en el mapa o eliminarlo para indicar nuevas coordenadas.      </p>
      <p>
        Podrás reactivar la geolocalización automática regresando a esta página.      </p>
      <p>
        <strong>Una vez guardados los cambios, la nueva ubicación puede tardar hasta 5 minutos en aparecer en el mapa.</strong>
      </p>
      <div class="row">
        <div class="col-sm-12 form-group">
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
