{% extends "front/layout.html" %}
{% load i18n %}

{% block title %}{% blocktrans event_name=event.name %}Inscription pour «&nbsp;{{ event_name }}&nbsp;» confirmée{% endblocktrans %}{% endblock %}

{% block main %}
  <div class="col-responsive">
    <h2><a href="{% url "view_event" event.pk %}">{{ event.name }}</a></h2>
    <ol class="breadcrumb">
      <li><a href="{% url "view_event" event.pk %}">{% translate "Page publique de l'événement" %}</a></li>
      <li>{% translate "Confirmation d'inscription" %}</li>
    </ol>
    <p>
      {% blocktrans payment_first_name=payment.first_name payment_last_name=payment.last_name payment_get_price_display=payment.get_price_display event_name=event.name %}{{ payment_first_name }} {{ payment_last_name }}, votre paiement de {{ payment_get_price_display }} pour l'événement «&nbsp;{{ event.name }}&nbsp;» a bien été reçu. Votre inscription est confirmée.{% endblocktrans %}
    </p>
    <a href="{% url 'homepage' %}">{% translate "Retour à la page d'accueil" %}</a>
  </div>

{% endblock %}
