{% extends "front/layout.html" %}
{% load crispy_forms_tags i18n static %}

{% block title %}
  {% translate "Ajouter une image pour" %} «&nbsp;{{ event.name }}&nbsp;»
{% endblock %}

{% block main %}
<div class="row">
  <div class="col-xs-12 margintopmore text-right" style="line-height: 45px; margin-bottom: 0;">
    <div class="pull-left">
      <a class="menu-back-link" href="{% url "list_events" %}">
        <i class="fa fa-arrow-left"></i>&emsp;REGRESAR AL INICIO
      </a>
    </div>
    <div class="pull-right">
      <a
        class="btn btn-sm btn-default"
        style="color: white !important"
        href="{% url "view_event" event.pk %}">
        {% translate "Página de la acción" %}
      </a>
    </div>
    <div class="clearfix"></div>
    <hr />
  </div>
  <div class="col-xs-12">
    <h2 class="headline">
      {{ event.name }}
    </h2>
    <hr />
    <h3>{% translate "Agregar una imagen a la acción" %}</h3>
    <div class="padtop padbottom form-group">
      <div>
        <div class="form-group">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy author_form %}
            {% crispy form %}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
